<div class="animated fadeIn">

    <h1>Listado de {{ categoria }}</h1>
    <hr>

    <!-- ─────────────── -->
    <!--     LISTADO     -->
    <!-- ─────────────── -->

    <!-- Listado -->
    <ng-container *ngIf="items.length > 0">

        <div class="entrada buscador">
            <input type="text" placeholder="Buscar">
            <i class="icono fa fa-search" aria-hidden="true"></i>
        </div>
        
        <ng-container *ngFor="let item of items; let i = index">
            <div class="elemento">
                <div class="ingles">{{ item.ingles }}</div>
                <div class="castellano">{{ item.castellano }}</div>

                <!-- Botones -->
                <div class="opciones">
                    <a class="opcion editar" [routerLink]="['/formulario', 'modificar', categoria, item.id]">
                        <i class="icono fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <a class="opcion borrar" (click)="borrar( item, i )">
                        <i class="icono fa fa-trash" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </ng-container>
    </ng-container>

    <!-- Vacío -->
    <ng-container *ngIf="items.length == 0">
        No se encontraron resultados
    </ng-container>

    <!-- Nuevo -->
    <a class="nuevo" [routerLink]="['/formulario', 'crear', categoria, '']">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </a>
</div>