<div class="animated fadeIn" style="margin: 50px 0">

    <h1>Listado de {{ categoria }}</h1>
    <hr>

    <!-- ─────────────── -->
    <!--     LISTADO     -->
    <!-- ─────────────── -->

    <!-- Listado -->
    <ng-container *ngIf="items.length > 0">

        <!-- Buscador -->
        <div class="entrada buscador">
            <input #buscador type="text" placeholder="Buscar en este listado" (keyup)="buscar( buscador.value )">
            <i class="icono fa fa-search" aria-hidden="true"></i>
        </div>
        
        <!-- Recuento -->
        <small class="recuento">{{ items.length }} ítems</small>

        <!-- Tabla -->
        <ng-container *ngFor="let item of items; let i = index">
            <div class="elemento">

                <!-- Ítem en inglés -->
                <div class="ingles">{{ item.ingles }}</div>

                <!-- Ítem en español -->
                <div class="castellano">{{ item.castellano }}</div>

                <!-- Botones para editar y eliminar -->
                <div class="opciones">
                    <a class="opcion editar" (click)="editar(item, categoria)">
                        <i class="icono fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <a class="opcion borrar" (click)="eliminar( item, i )">
                        <i class="icono fa fa-trash" aria-hidden="true"></i>
                    </a>
                </div>

            </div>
        </ng-container>
    </ng-container>

    <!-- Notificación que se muestra cuando no existe ningún ítem -->
    <ng-container *ngIf="items.length == 0">
        No se encontraron resultados
    </ng-container>

    <!-- Formulario -->
    <app-formulario #formulario (onModificarListado)="refrescarListado( $event )"></app-formulario>

</div>