<div class="animated fadeIn">

    <h1>Listado de palabras</h1>
    <hr>

    <!-- ─────────────── -->
    <!--     LISTADO     -->
    <!-- ─────────────── -->

    <ng-container *ngIf="palabras.length > 0">

        <div class="entrada buscador">
            <input type="text" placeholder="Buscar">
            <i class="icono fa fa-search" aria-hidden="true"></i>
        </div>
        
        <div class="elemento" *ngFor="let palabra of palabras; let i = index">
            <div class="ingles">{{ palabra.ingles }}</div>
            <div class="castellano">{{ palabra.espanol }}</div>
        </div>
    </ng-container>

    <!-- ──────────────────── -->
    <!--     NOTIFICACIÓN     -->
    <!-- ──────────────────── -->

    <ng-container *ngIf="palabras.length == 0">
        No se encontraron resultados
    </ng-container>
</div>

<a class="nuevo" [routerLink]="['/formulario', 'nuevo']">
    <i class="fa fa-plus" aria-hidden="true"></i>
</a>