#menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background: #3498db;
    padding: 0;
    margin: 0 0 50px;

    .item {
        padding: 20px 30px;
        transition: .25s;

        a {
            color: white;
            text-decoration: none;
        }

        &.activo {
            background: white;
            
            a {
                color: #3498db;
            }
        }

        &:hover {
            opacity: .75;
        }
    }
}