
<div id="sidebar">

    <!-- Ítems -->
    <div class="item" routerLinkActive="active">
        <a [routerLink]="['listado', 'palabras']">Palabras</a>
    </div>
    <div class="item" routerLinkActive="active">
        <a [routerLink]="['listado', 'verbos']">Verbos</a>
    </div>
    <div class="item" routerLinkActive="active">
        <a [routerLink]="['listado', 'frases']">Frases</a>
    </div>
    <div class="item" routerLinkActive="active">
        <a [routerLink]="['listado', 'expresiones']">Expresiones</a>
    </div>
    <div class="item" routerLinkActive="active">
        <a [routerLink]="['gramatica', 'wish']">Wish</a>
    </div>
    <div class="item" routerLinkActive="active">
        <a [routerLink]="['gramatica', 'used-to']">Used to</a>
    </div>
    <div class="item">
        <a href="#" (click)="salir()">Cerrar sesión</a>
    </div>

    <!-- Cerrar sidebar -->
    <div class="cerrar-sidebar" (click)="cerrarSidebar()">
        <div class="barra"></div>
        <div class="barra"></div>
    </div>

</div>

<!-- Abrir sidebar -->
<div class="abrir-sidebar" (click)="abrirSidebar()">
    <div class="barra"></div>
    <div class="barra"></div>
    <div class="barra"></div>
</div>