@import "~src/variables";

#sidebar {
    background: $primary;
    background: url('~src/assets/img/uk2.jpg') no-repeat center;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    transition: .25s;

    .overlay {
        background: $primary;
        background-image: linear-gradient( $primary 35%, transparentize( $secondary, .5 ));
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        opacity: .95;
        transition: .25s;
    }
    
    .titulo {
        color: $blanco;
        font-size: 35px;
        margin: 75px 25px;
    }

    a,
    .texto {
        display: flex;
        align-items: center;
        color: $blanco;
        text-decoration: none;
        padding: 0 25px;
        position: relative;
        height: 50px;
        cursor: pointer;

        .icono {
            font-size: 12px;
            margin-right: 10px;
            opacity: .85;
        }
    }

    .submenu {
        max-height: 0;
        overflow: hidden;
        transition: .25s;

        &.primer-nivel a,
        &.primer-nivel .texto {
            padding-left: 50px;
        }

        &.segundo-nivel a,
        &.segundo-nivel .texto {
            padding-left: 75px;
        }
    }

    .item {
        // box-shadow: inset 0 1px 0 lighten( $primary, 5% );
        box-shadow: inset 0 -1px 0 transparentize( $blanco, .85 );

        &:nth-child(4) {
            // box-shadow: inset 0  1px 0 lighten( $primary, 5% ),
            //             inset 0 -1px 0 lighten( $primary, 5% );
            box-shadow: inset 0  1px 0 transparentize( $blanco, .85 ),
                        inset 0 -1px 0 transparentize( $blanco, .85 );
        }

        .submenu.primer-nivel .item {
            // background: lighten( $primary, 5% );
            background: transparentize( $blanco, .85 );
            // box-shadow: inset 0 -1px 0 lighten( $primary, 10% );
            box-shadow: inset 0 -1px 0 transparentize( $blanco, .85 );

            &:first-child {
                // box-shadow: inset 0  1px 0 lighten( $primary,  5% ),
                //             inset 0 -1px 0 lighten( $primary, 10% );
                box-shadow: inset 0  1px 0 transparentize( $blanco, .85 ),
                            inset 0 -1px 0 transparentize( $blanco, .85 );
            }

            &:last-child  {
                // box-shadow: inset 0 -1px 0 lighten( $primary, 5% );
                box-shadow: none;
            }

            &:hover:not(.active) > a {
                animation: meneo 1s;
            }
            
            &.active > a .icono {
                color: red;
            }
        }

        .submenu.segundo-nivel .item {
            // background: lighten( $primary, 10%);
            background: transparentize( $blanco, .85 );
            // box-shadow: inset 0 -1px 0 lighten( $primary, 15% );
            box-shadow: inset 0 -1px 0 transparentize( $blanco, .85 );

            &:first-child {
                // box-shadow: inset 0  1px 0 lighten( $primary, 10% ),
                //             inset 0 -1px 0 lighten( $primary, 15% );
                box-shadow: inset 0  1px 0 transparentize( $blanco, .85 ),
                            inset 0 -1px 0 transparentize( $blanco, .85 );
            }

            &:last-child  {
                // box-shadow: inset 0 -1px 0 lighten( $primary, 10% );
                box-shadow: none;
            }

            &:hover:not(.active) > a {
                animation: meneo 1s;
            }
        }
    }
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        padding: 0;
        margin: 0;
    }
}

@keyframes meneo {

    from, to {
      transform: translate3d(0, 0, 0);
    }
  
    10%, 30%, 50%, 70%, 90% {
      transform: translate3d(-5px, 0, 0);
    }
  
    20%, 40%, 60%, 80% {
      transform: translate3d(5px, 0, 0);
    }
}

.abrir-sidebar {
    position: fixed;
    top: 25px;
    left: 25px;
    z-index: 25;
    width: 25px;
    height: 25px;
    cursor: pointer;
    
    .barra {
        position: absolute;
        top: 0;
        background: $primary;
        width: 25px;
        height: 1px;
        transition: .25s;

        &:nth-child(2) { top: 08px }
        &:nth-child(3) { top: 16px }
    }

    &:hover .barra {
        background: $secondary;
    }
}

.cerrar-sidebar {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 75;
    width: 25px;
    height: 25px;
    cursor: pointer;
    
    .barra {
        background: $blanco;
        margin-top: -3px;
        margin-left: 3px;
        width: 25px;
        height: 1px;
        position: absolute;
        top: 12px;
        left: 0;
        transition: .25s;

        &:nth-child(1) { transform: rotate(45deg) }
        &:nth-child(2) { transform: rotate(-45deg) }
    }

    &:hover .barra {
        background: $secondary;       
    }
}

// Mobile First

@media only screen and (min-width: $mobile) {

    #sidebar {
        width: 300px;
    
        .overlay {
            width: 300px;
        }
    }
}