// Colores
$primary     : rgb(25,155,255);
$lightprimary: rgb(115,185,255);

#menu {
    background: $primary;
    margin: 0 0 50px;

    .items {
        display: flex;
        align-items: center;

        .item {
            
            a {
                display: block;
                color: white;
                text-decoration: none;
                padding: 20px 30px;
                position: relative;
                left: 0;
            }
    
            &.activo {
                background: $lightprimary;
            }
    
            &:hover a {
                animation: meneo 1s;
            }
        }
    }
}

@keyframes meneo {

    from, to {
      transform: translate3d(0, 0, 0);
    }
  
    10%, 30%, 50%, 70%, 90% {
      transform: translate3d(-5px, 0, 0);
    }
  
    20%, 40%, 60%, 80% {
      transform: translate3d(5px, 0, 0);
    }
}