<div class="animated fadeIn" style="margin: 50px 0">

  <h1>{{ titulo }}</h1>
  <hr>

  <form class="formulario" #miFormulario="ngForm" (ngSubmit)="guardar( miFormulario )">

    <!-- Firebase ID -->
    <div class="entrada oculto">
      <input type="text" disabled="disabled" placeholder="Firebase ID" [(ngModel)]="item.id" name="id">
    </div>

    <!-- Traducción al inglés -->
    <div class="entrada">
      <input type="text" placeholder="Traducción al inglés" required [(ngModel)]="item.ingles" name="ingles" autocomplete="off">
    </div>
    
    <!-- Traducción al castellano -->
    <div class="entrada">
      <input type="text" placeholder="Traducción al castellano" required [(ngModel)]="item.castellano" name="castellano" autocomplete="off">
    </div>

    <!-- Categoría -->
    <div class="selector">
      <select [(ngModel)]="categoria" name="categoria" (ngModelChange)="cambiarCategoria( $event )">
        <option value="palabras">Palabra</option>
        <option value="frases">Frase</option>
        <option value="expresiones">Expresión</option>
      </select>
      <i class="icono fa fa-angle-down" aria-hidden="true"></i>
    </div>

    <!-- Botón -->
    <button type="submit" class="boton">
      Guardar
    </button>
  </form>
</div>