<div class="animated fadeIn">

    <h1>Listado de frases</h1>
    <hr>

    <!-- ─────────────── -->
    <!--     LISTADO     -->
    <!-- ─────────────── -->

    <ng-container *ngIf="frases.length > 0">

        <div class="entrada">
            <input class="buscador" type="text" placeholder="Buscar">
            <i class="icono fa fa-search" aria-hidden="true"></i>
        </div>
        
        <div class="elemento" *ngFor="let frase of frases; let i = index">
            <div class="ingles">{{ frase.ingles }}</div>
            <div class="castellano">{{ frase.espanol }}</div>
        </div>
    </ng-container>

    <!-- ──────────────────── -->
    <!--     NOTIFICACIÓN     -->
    <!-- ──────────────────── -->

    <ng-container *ngIf="frases.length == 0">
        No se encontraron resultados
    </ng-container>
</div>