@import "~src/assets/styles/variables";

// Placeholder

input::-webkit-input-placeholder { color: $primary; transition: .25s }
     input:-ms-input-placeholder { color: $primary; transition: .25s }
              input::placeholder { color: $primary; transition: .25s }

input:focus::-webkit-input-placeholder { color: transparent }
     input:focus:-ms-input-placeholder { color: transparent }
              input:focus::placeholder { color: transparent }


// Autofill

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    animation-name: autocompletar;
    animation-fill-mode: both;
}

@keyframes autocompletar {
    to {
        color: white;
        background: transparent;
        background-image: linear-gradient(180deg, transparent 50%, rgba(255,255,255,.025) 50%);
    }
}

// Text selection

::-moz-selection { color: white; background: transparentize( $primary, .01 ) }
     ::selection { color: white; background: transparentize( $primary, .01 ) }

// Scrollbar

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: $blanco; 
}
   
::-webkit-scrollbar-thumb {
    background: $primary;
}
  
::-webkit-scrollbar-thumb:hover {
    background: $rosa; 
}

// ─────────────── //
//     GENERAL     //
// ─────────────── //

html {
    scroll-behavior: smooth;
}

body {
    color: $primary;
    font-size: 12px;
    font-family: 'Nunito', 'Poppins', sans-serif;
}

h1 {
    color: black;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}

hr {
    display: block;
    border-color: $primary;
    margin: 10px 0 50px;
}

.contenido {
    padding: 75px 25px;
    transition: margin-left .25s;
    
    & > div {
        margin: 0 auto;
        width: 100%;
        max-width: 1000px;
    }
}

// Mobile First

@media only screen and (min-width: $mobile) {

    body {
        font-size: 14px;
    }

    h1 {
        font-size: 35px;
    }

    .contenido {
        margin-left: 300px;
    }
}

@media only screen and (min-width: $tablet) {
    .contenido {
        padding: 75px;
    }
}

// ───────────── //
//     UTILS     //
// ───────────── //

.oculto {
    display: none !important;
}

// ────────────── //
//     SHARED     //
// ────────────── //

.nuevo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 15px;
    text-decoration: none !important;
    background: $primary;
    border-radius: 50%;
    box-shadow: 0 2px 5px $darkprimary;
    position: fixed;
    bottom: 35px;
    right: 35px;
    width: 60px;
    height: 60px;
    transition: .5s ease-in;

    .icono {
        transition: .5s ease-in;
    }

    &:hover {
        color: white;

        .icono {
            transform: rotate(360deg);
        }
    }

    &:active {
        transform: scale(1.05);
    }
}

// ────────────────── //
//     FORMULARIO     //
// ────────────────── //

.formulario {
    text-align: center;
    background: white;
    border-top: 1px solid $primary;
    padding: 35px 0 10px;
    position: fixed;
    bottom: 0;
    left: 300px;
    right: 0;
    transition: .25s;

    .container {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-column-gap: 25px;
    }

    .cierre {
        color: $primary;
        background: white;
        border-top: 1px solid $primary;
        border-left: 1px solid $primary;
        padding: 5px 0 0;
        position: absolute;
        top: -20px;
        right: 0;
        width: 105px;
        cursor: pointer;
    }
}

.entrada {
    display: block;
    margin-bottom: 25px;
    position: relative;
    
    input {
        color: black;
        border: none;
        border: 1px solid $primary;
        border-radius: 2px;
        outline: none;
        margin: 0;
        padding: 10px 20px;
        width: 100%;
    }

    .icono {
        color: $primary;
        background: white;
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
    }
}

.selector {
    border: none;
    border: 1px solid $primary;
    border-radius: 2px;
    margin-bottom: 25px;
    position: relative;
    width: 100%;
    
    select {
        color: black;
        border: none;
        outline: none;
        margin: 0;
        padding: 10px 20px;
        width: 100%;
        cursor: pointer;
    }

    .icono {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $primary;
        background: white;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 45px;
    }
}

.boton {
    display: block;
    color: white;
    background: $primary;
    border: 1px solid $primary;
    border-radius: 2px;
    outline: none;
    padding: 10px 20px;
    margin-bottom: 25px;
    width: 100%;
    
    &:hover {
        color: $primary;
        background: white;
        box-shadow: none;
        transition: .5s;
    }

    &:focus {
        outline: none;
        transition: .25s;
    }
}

// Mobile First

@media only screen and (min-width: $tablet) {

    .formulario .container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media only screen and (min-width: $laptop) {

    .formulario .container {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

// ─────────────── //
//     LISTADO     //
// ─────────────── //

.buscador {
    margin: 0 0 31px;
    
    input {
        border: 1px solid $primary;
        border-radius: 2px;
        padding: 5px 40px;
        max-width: 250px;
    }

    .boton {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding: 0;
        position: absolute;
        top: 0;
        left: 248px;
        width: 80px;
        height: 33px;
    }
}

.recuento {
    display: block;
    text-align: right;
    padding: 0 5px 5px 0;
}

.elementos {
    border: 1px solid transparentize( $primary, .85 );
    border-radius: 2px;
    overflow: hidden;

    .elemento {
        display: flex;
        text-decoration: none !important;
        position: relative;
        transition: .5s;
        min-height: 50px;
        cursor: pointer;
        
        &:last-child .ingles,
        &:last-child .castellano {
            border-bottom: none;
        }
        
        .ingles,
        .castellano {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            color: black;
            background: white;
            padding: 10px 15px;
            width: 50%;
            transition: .25s;
        }

        .castellano {
            border-bottom: 1px solid transparentize( $primary, .85 );
        }

        .ingles {
            color: white;
            background: transparentize( $primary, .15 );
            border-bottom: 1px solid transparentize( $blanco, .85 );
        }

        .opciones {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: white;
            padding: 0 15px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 1px;
            transition: .5s;
            opacity: 0;

            .opcion {
                display: flex;
                align-items: center;
                justify-content: center;
                color: $primary;
                font-size: 15px;
                text-decoration: none;
                border: 1px solid $lightprimary;
                border-radius: 2px;
                width: 28px;
                height: 28px;
                opacity: 0;

                &.editar {
                    margin-right: 5px;
                }

                &:hover {
                    color: white;
                    background: $primary;
                }
            }
        }

        &:hover {

            .ingles {
                background: $primary
            }

            .opciones {
                opacity: 1;

                .opcion.editar {
                    animation: revelar .25s .1s forwards;
                }
        
                .opcion.borrar {
                    animation: revelar .25s .15s forwards;
                }
            }
        }
    }
}

@keyframes revelar {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

// ───────────────────── //
//     SWEET ALERT 2     //
// ───────────────────── //

.swal2-popup {
    border-radius: 2px !important;
}

.swal2-styled {
    background: $primary  !important;
    
    &.swal2-cancel  {
        background: $lightprimary !important;
    }
}

.swal2-cancel:focus,
.swal2-confirm:focus {
    box-shadow: none !important;
}