
// Colores

$primary     : rgb(25,155,255);
$lightprimary: rgb(115,185,255);

$primary     : rgb(095,040,205);
$darkprimary : rgb(055,000,155);
$lightprimary: rgb(135,080,245);

// Responsive breakpoints

$mobile : 576px;
$tablet : 768px;
$laptop : 980px;
$desktop: 1200px;

// Placeholder

input::-webkit-input-placeholder { color: $primary; transition: .25s }
     input:-ms-input-placeholder { color: $primary; transition: .25s }
              input::placeholder { color: $primary; transition: .25s }

input:focus::-webkit-input-placeholder { color: transparent }
     input:focus:-ms-input-placeholder { color: transparent }
              input:focus::placeholder { color: transparent }


// Autofill

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    animation-name: autocompletar;
    animation-fill-mode: both;
}

@keyframes autocompletar {
    to {
        color: white;
        background: transparent;
        background-image: linear-gradient(180deg, transparent 50%, rgba(255,255,255,.025) 50%);
    }
}

// Text selection

::-moz-selection { color: white; background: $primary }
     ::selection { color: white; background: $primary }

// Scrollbar

::-webkit-scrollbar {
    width: 0;
}

// ─────────────── //
//     GENERAL     //
// ─────────────── //

html {
    scroll-behavior: smooth;
}

body {
    color: $primary;
    font-size: 12px;
    font-family: 'Nunito', 'Poppins', sans-serif;
}

h1 {
    color: black;
    font-size: 30px;
    font-weight: 700;
    // font-family: 'Arsenal', sans-serif;
}

hr {
    display: block;
    border-color: $lightprimary;
    margin-bottom: 50px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
}

// Mobile First

@media only screen and (min-width: $mobile) {

    body {
        font-size: 14px;
    }

    h1 {
        font-size: 35px;
    }
}

// ───────────── //
//     UTILS     //
// ───────────── //

.oculto {
    display: none !important;
}

// ────────────── //
//     SHARED     //
// ────────────── //

.nuevo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 15px;
    text-decoration: none !important;
    background: $primary;
    border-radius: 50%;
    box-shadow: 0 2px 5px $darkprimary;
    position: fixed;
    bottom: 35px;
    right: 35px;
    width: 60px;
    height: 60px;
    transition: .5s ease-in;

    .icono {
        transition: .5s ease-in;
    }

    &:hover {
        color: white;

        .icono {
            transform: rotate(360deg);
        }
    }

    &:active {
        transform: scale(1.05);
    }
}

// ───────────── //
//     LOGIN     //
// ───────────── //

#login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url('assets/img/bg4.svg') no-repeat center;
    background-size: cover;
    min-height: 100vh;

    .entrada {

        input {
            color: white;
            text-align: center;
            background: none;
            background-image: linear-gradient(180deg, transparent 50%, rgba(255,255,255,.025) 50%);
            border: 1px solid rgba(255,255,255,.075);
            border-radius: 2px;
            box-shadow: inset 2px 2px 5px rgba(0,0,0,.2);
            width: 275px;
            max-width: 300px;
            transition: .25s;

            &:focus {
                border-color: rgba(255,255,255,.5);
            }
        }

        .validacion {
            color: yellow !important;
            font-size: 10px;
            padding-left: 5px;
            margin: 0 auto;
            position: absolute;
            left: 50%;
            bottom: -20px;
            transform: translateX(-50%);
            width: 100%;
            max-width: 400px;
        }
    }

    .boton {
        display: block;
        color: rgba(255,255,255,.7);
        font-size: 18px;
        background: rgba(255,255,255,.25);
        background: rgb(255,0,100);
        background-image: linear-gradient(180deg, transparent 50%, rgba(0,0,0,.075) 50%);
        border: 2px solid white;
        border: none;
        border-radius: 2px;;
        box-shadow: none;
        margin-top: 40px;
        position: relative;
        height: 40px;
        overflow: hidden;

        .icono {
            // text-shadow: 0 2px 5px rgb(70,15,100);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        .icono:first-child {
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

        .icono:last-child {
            right: -150%;
            transform: translateX(-50%) translateY(-50%);
        }
        
        &:hover {
            background: rgba(255,255,255,.35);
            background: rgb(255,150,25);
            
            .icono:first-child {
                animation: mover1 .5s .25s forwards;
            }
    
            .icono:last-child {
                animation: mover2 .5s .5s forwards;
            }
        }

        &:active {
            box-shadow: inset 2px 2px 5px rgba(0,0,0,.2);
        }
    }

    // Recordar usuario

    .recordar-usuario {
        display: flex;
        display: none;
        justify-content: flex-start;
        padding: 10px 0 0 10px;
        width: 100%;
        max-width: 400px;

        input {
            margin-right: 5px;
        }

        label {
            color: white;
            font-size: 10px;
            position: relative;
            bottom: 1px;
        }
    }

    // Placeholder

    input::-webkit-input-placeholder { color: rgba(255,255,255,.35) }
         input:-ms-input-placeholder { color: rgba(255,255,255,.35) }
                  input::placeholder { color: rgba(255,255,255,.35) }

    input:focus::-webkit-input-placeholder { color: transparent }
         input:focus:-ms-input-placeholder { color: transparent }
                  input:focus::placeholder { color: transparent }
}

@keyframes mover1 {

    from {
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    to {
        left: 150%;
        transform: translateX(-50%) translateY(-50%);
    }

}

@keyframes mover2 {

    from {
        right: 150%;
        transform: translateX(-50%) translateY(-50%);
    }

    to {
        right: 50%;
        transform: translateX(50%) translateY(-50%);
    }

}

// ────────────────── //
//     FORMULARIO     //
// ────────────────── //

.formulario {
    text-align: center;
}

.entrada {
    display: block;
    margin: 0 auto 25px;
    position: relative;
    
    input {
        color: black;
        border: none;
        border-bottom: 1px solid $primary;
        outline: none;
        margin: 0;
        padding: 10px 20px;
        width: 100%;
        max-width: 400px;
    }

    .icono {
        color: $primary;
        background: white;
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
    }
}

.selector {
    margin: 0 auto 25px;
    border: none;
    border-bottom: 1px solid $primary;
    position: relative;
    width: 100%;
    max-width: 400px;
    
    select {
        color: black;
        border: none;
        outline: none;
        margin: 0;
        padding: 10px 20px;
        width: 100%;
        cursor: pointer;
    }

    .icono {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $primary;
        background: white;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 45px;
    }
}

.boton {
    display: block;
    color: white;
    background: $primary;
    border: 1px solid $primary;
    box-shadow: 0 2px 5px $darkprimary;
    outline: none;
    padding: 10px 20px;
    margin: 50px auto 0;
    width: 100%;
    max-width: 400px;
    
    &:hover {
        color: $primary;
        background: white;
        box-shadow: none;
        transition: .5s;
    }

    &:focus {
        outline: none;
        transition: .25s;
    }
}

// ─────────────── //
//     LISTADO     //
// ─────────────── //

.buscador {
    margin: 0 0 31px;
    
    input {
        border: 1px solid $primary;
        border-radius: 2px;
        padding: 5px 40px;
        max-width: 250px;
    }
}

.recuento {
    display: block;
    text-align: right;
    padding: 0 5px 5px 0;
}

.elemento {
    display: flex;
    text-decoration: none !important;
    border: 1px solid $primary;
    margin-top: -1px;
    position: relative;
    transition: .5s;
    cursor: pointer;
    
    .ingles,
    .castellano {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        color: black;
        padding: 10px 15px;
        width: 50%;
        transition: .25s;
    }

    .ingles {
        color: white;
        background: $lightprimary;
    }

    .opciones {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: white;
        padding: 0 5px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        transition: .5s;
        opacity: 0;

        .opcion {
            display: flex;
            align-items: center;
            justify-content: center;
            color: $primary;
            font-size: 15px;
            text-decoration: none;
            border: 1px solid $lightprimary;
            border-radius: 2px;
            width: 28px;
            height: 28px;
            opacity: 0;

            &.editar {
                margin-right: 5px;
            }

            &:hover {
                color: white;
                background: $primary;
            }
        }
    }

    &:hover {

        .ingles {
            background: rgba(135,080,245,.85);
        }

        .opciones {
            opacity: 1;

            .opcion.editar {
                animation: revelar .5s .25s forwards;
            }
    
            .opcion.borrar {
                animation: revelar .5s .5s forwards;
            }
        }
    }
}

@keyframes revelar {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

// ────────────── //
//     NAVBAR     //
// ────────────── //

.navbar {
    background: $primary;
    padding: 0;

    // Items

    .nav-item {
        background: $lightprimary;
        border-bottom: 1px solid rgba(095,040,205,.25);

        .nav-link {
            color: white;
            padding: 10px 25px;
        }

        &.active .nav-link {
            color: $darkprimary;
        }

        &.salir {
            border: none;
        }
    }

    // Burger Button

    .navbar-toggler {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        border: none;
        outline: none;
        margin: 8px 16px 8px auto;
        height: 35px;
        width: 35px;

        .barra {
            display: block;
            background: white;
            width: 25px;
            height: 1px;
        }
    }
}

@media only screen and (min-width: $mobile) {

    .navbar {
        
        // Burger Button

        .navbar-toggler {
            margin: 8px 0 8px auto;
        }
    }
}

@media only screen and (min-width: $tablet) {
    
    .navbar {
        background-image: linear-gradient(45deg, $primary, $lightprimary);

        // Items

        .nav-item {
            background: none;
            border: none;

            .nav-link {
                padding: 20px 30px;
            }

            &.active {
                background: $lightprimary;
                
                .nav-link {
                    color: white;
                }
            }

            &:hover:not(.active) .nav-link {
                animation: meneo 1s;
            }
        }

        // Burger Button

        .navbar-toggler {
            display: none;
        }
    }
}

@keyframes meneo {

    from, to {
      transform: translate3d(0, 0, 0);
    }
  
    10%, 30%, 50%, 70%, 90% {
      transform: translate3d(-5px, 0, 0);
    }
  
    20%, 40%, 60%, 80% {
      transform: translate3d(5px, 0, 0);
    }
}

// ────────────── //
//     FOOTER     //
// ────────────── //

footer {
    color: white;
    text-align: center;
    background: $primary;
    padding: 12px;
}

// ───────────────────── //
//     SWEET ALERT 2     //
// ───────────────────── //

.swal2-popup {
    border-radius: 2px !important;
}

.swal2-styled {
    background: $primary  !important;
    
    &.swal2-cancel  {
        background: $lightprimary !important;
    }
}

.swal2-cancel:focus,
.swal2-confirm:focus {
    box-shadow: none !important;
}