
// Colores

$blanco: rgb(255,255,255);

$primary     : rgb(095,040,205);


$rosa: rgb(255,0,100);
$mostaza: rgb(255,150,25);

$primary: blue;
$rosa: red;

$lightprimary : transparentize( $primary, .25 );
$darkprimary: darken( $primary, .25 );

$texto: black;

// Responsive breakpoints

$mobile : 576px;
$tablet : 768px;
$laptop : 980px;
$desktop: 1200px;
