
// Colores

$blanco: rgb(255,255,255);

$primary     : rgb(095,040,205);
$darkprimary : rgb(055,000,155);
$lightprimary: rgb(135,080,245);

// Responsive breakpoints

$mobile : 576px;
$tablet : 768px;
$laptop : 980px;
$desktop: 1200px;
